amqp==5.1.1
asgiref==3.3.4
asttokens==2.0.5
attrs==21.4.0
Automat==20.2.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
bleach==5.0.0
bs4==0.0.1
celery==5.1.2
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
constantly==15.1.0
cryptography==37.0.2
cssselect==1.1.0
devtools==0.8.0
Django==3.2.3
django-cors-headers==3.13.0
django-debug-toolbar==3.2.4
django-elasticsearch-dsl==7.2.2
django-embed-video==1.4.0
elastic-transport==8.1.2
elasticsearch==7.17.4
elasticsearch-dsl==7.4.0
executing==0.8.3
gunicorn==20.1.0
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
itemadapter==0.3.0
itemloaders==1.0.4
jmespath==1.0.0
kombu==5.2.4
lxml==4.9.0
Markdown==3.3.7
mdx-linkify==2.1
numpy==1.22.4
pandas==1.3.5
parsel==1.6.0
priority==1.3.0
prompt-toolkit==3.0.29
Protego==0.2.1
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.5
pyOpenSSL==22.0.0
python-dateutil==2.8.2
python-decouple==3.4
python-scrapyd-api==2.1.2
pytz==2021.1
queuelib==1.6.2
requests==2.27.1
Scrapy==2.5.1
scrapyd==1.2.1
selenium==3.141.0
service-identity==21.1.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.1
tqdm==4.61.2
Twisted==22.4.0
typing_extensions==4.2.0
urllib3==1.26.9
vine==5.0.0
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
zope.interface==5.4.0
